<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'exam_app/css/style.css' %}"> 
    <title>Trip Buddy</title>

</head>

<body>
    <div class="container">
        <h1 class="text-center">Welcome! Let's travel!</h1>
        <div class="row">
            <div class="col">
                <h2 class="text-center">Registrtion</h2>
                <form action="/register" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First_name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="First name"
                            name="first_name">
                        <p class="caution">* First name should be more than 2 characters.</p>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name">
                        <p class="caution">* Last name should be more than 2 characters.</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="name@example.com"
                            aria-describedby="emailHelp" name="email">
                        <p class="caution">* Email should be unique.</p>
                    </div>
                    <div class="form-group">
                        <label for="dob">Birthday</label>
                        <input type="date" class="form-control" id="dob" name="birthday">
                        <p class="caution">* COPPA compliant!</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                            name="password">
                        <p class="caution">* Password should be at least 8 characters!</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Comfirm PW</label>
                        <input type="password" class="form-control" id="exampleInputPassword2"
                            placeholder="Password Comfirm" name="password_confirm">
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {% if message.extra_tags == "register_error" %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="button"><button type="submit" class="btn btn-primary">Register</button></div>
                </form>
            </div>
            <div class="col">
                <h2 class="text-center">Login</h2>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_email">Email address</label>
                        <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp"
                            placeholder="name@example.com" name="login_email">
                    </div>
                    <div class="form-group">
                        <label for="login_password">Password</label>
                        <input type="password" class="form-control" id="login_password" placeholder="Password"
                            name="login_password">
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {% if message.extra_tags == "login_error" %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="button"><button type="submit" class="btn btn-danger">Log In</button></div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>